@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");

body {
  background-color: #0d0d0d;
  padding: 0;
}

.bg-circle {
  left: 45rem;
  top: -8rem;
  height: 20rem;
  width: 20rem;
}

@media (max-width: 500px) {
  .bg-circle {
    left: 5rem;
    top: -7rem;
    height: 20rem;
    width: 10rem;
  }
}

.nav-btn {
  border: solid 1px #7aad47;
  width: 7rem;
  height: 3rem;
}

.nav-btn-mobile {
  border: solid 1px #7aad47;
}

.hero-btn {
  border: solid 1px #7aad47;
}

.hero-text {
  padding-right: 2rem;
  padding: none;
}

.proces-card {
  width: 30rem;
  height: 17rem;
  border: solid 1px #999999;
  background-color: rgba(15, 15, 15, 0.525);
  border-color: rgba(193, 192, 192, 0.207);
  border-width: 1px;
}

.work-card {
  width: 31rem;
  height: 24rem;
  border: solid 1px #999999;
  background-color: rgba(15, 15, 15, 0.525);
  border-color: rgba(193, 192, 192, 0.207);
  border-width: 1px;
  transition: 500ms;
}

@media (max-width: 500px) {
  .work-card {
    height: 20rem;
    width: 20rem;
    padding: 8rem;
    display: flex;
    justify-content: center;
  }
}

.work-card:hover {
  background: radial-gradient(
    circle at bottom left,
    rgba(122, 173, 71, 0.3) 0%,
    rgba(15, 15, 15, 0.586) 80%
  );
}

.result-card {
  width: 25rem;
  height: 15rem;
  border: solid 1px #999999;
  background-color: rgba(15, 15, 15, 0.525);
  border-color: rgba(193, 192, 192, 0.207);
  border-width: 1px;
}

.service-card {
  width: 21rem;
  height: 35rem;
  border: solid 1px #999999;
  background-color: rgba(15, 15, 15, 0.525);
  border-color: rgba(193, 192, 192, 0.207);
  border-width: 1px;
  transition: 500ms;
}

@media (max-width: 500px) {
  .service-card {
    height: 31rem;
    width: 20rem;
  }
  .service {
    padding: 0;
    margin-top: 6rem;
  }
}

.service-btn-non-priority {
  border: solid 1px rgb(122 173 71 / var(--tw-bg-opacity, 1));
}

.service-grad {
  top: 15rem;
  left: 5rem;
  height: 20rem;
  width: 20rem;
}

.team-card {
  width: 21rem;
  height: 25rem;
  border: solid 1px #999999;
  background-color: rgba(15, 15, 15, 0.525);
  border-color: rgba(193, 192, 192, 0.207);
  border-width: 1px;
  transition: 500ms;
}

@media (max-width: 500px) {
  .team-card {
    height: 25rem;
    width: 23rem;
  }
}

.faq-card {
  height: 25rem;
  width: 65rem;
  border: solid 1px rgb(122 173 71 / var(--tw-bg-opacity, 1));
  border-radius: 0.75rem;
  border: solid 1px #999999;
  border-color: rgba(193, 192, 192, 0.207);
}

@media (max-width: 500px) {
  .faq-card {
    width: 75rem;
  }
}