@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");

body {
  /* background: radial-gradient(
      circle at right top,
      rgba(122, 173, 71, 0.1),
      transparent 70%
    ),
    radial-gradient(
      circle at right bottom,
      rgba(122, 173, 71, 0.1),
      transparent 70%
    ),
    #0d0d0d;
  font-family: "Inter", sans-serif;
  min-height: 100vh; 
  margin: 0;  */

  background: radial-gradient(
    circle,
    rgba(122, 173, 71, 0.7) 0%,
    rgba(15, 15, 15, 1) 70%
  );
  padding: 0;
}

.nav-btn {
  border: solid 1px #7aad47;
  width: 7rem;
  height: 3rem;
}

.nav-btn-mobile {
  border: solid 1px #7aad47;
}

.hero-btn {
  border: solid 1px #7aad47;
}

.proces-card {
  width: 30rem;
  height: 17rem;
  border: solid 1px #999999;
  background-color: rgba(15, 15, 15, 0.525);
  border-color: rgba(193, 192, 192, 0.456);
  border-width: 1px;
}

.work-card {
  width: 31rem;
  height: 24rem;
  border: solid 1px #999999;
  background-color: rgba(15, 15, 15, 0.525);
  border-color: rgba(193, 192, 192, 0.268);
  border-width: 1px;
  transition: 500ms;
}

.result-card {
  width: 25rem;
  height: 15rem;
  border: solid 1px #999999;
  background-color: rgba(15, 15, 15, 0.525);
  border-color: rgba(193, 192, 192, 0.456);
  border-width: 1px;
}

@media (max-width: 768px) {
  .work-card {
    height: 20rem;
  }
}

.work-card:hover {
  background: radial-gradient(
    circle at bottom left,
    rgba(122, 173, 71, 0.3) 0%,
    rgba(15, 15, 15, 0.586) 80%
  );
}

.hero-text {
  padding-right: 2rem;
  padding: none;
}
